<div class="col-md-4 card-top" data-id="<%= portfolio_item.id%>%">
  <div class="card mb-4 shadow-sm">
   <%= image_tag portfolio_img( portfolio_item.thumb_image, 'thumb'), class:'portfolio-thumb-image',  width:'100%'%>
    <div class="card-body">
      <p class="card-text">
        <span><%= link_to portfolio_item.title,portfolio_show_path(portfolio_item) %></span> <br/>
        <%= portfolio_item.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <% if logged_in?(:site_admin)%>
          <div class="btn-group">
            <%= link_to 'Destroy', portfolio_path(portfolio_item.id), method: :delete, class: "btn btn-sm btn-outline-secondary", data: { confirm: 'Are you sure?' }  %>
          
            <%= link_to "Edit", edit_portfolio_path(portfolio_item) , class: "btn btn-sm btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>