<h1>Portfolio Items</h1>

<%= link_to "Create New Item ", new_portfolio_path if logged_in?(:site_admin)%>

<% @react_portfoli_item.each do |portfolio| %>
  <h3><%= portfolio.title %> </h3>
  <%= link_to "Show", portfolio_show_path(portfolio) %>
  <h4><%= portfolio.subtitle %> </h4>
  <p><%= portfolio.body %> </p>
  <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(portfolio) if logged_in?(:site_admin)%>
  <%= link_to 'Destroy', portfolio_path(portfolio.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>
<% end %>
